.cont {
  max-width: 1100px;
  margin: 40px auto;
  padding: 32px 24px 48px 24px;
  background: var(--color-white);
  border-radius: 18px;
  box-shadow: 0 4px 24px var(--color-shadow);
  margin-top:150px;
}

.cont h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 2.5rem;
  color: var(--color-bg-dark);
  margin-bottom: 32px;
  letter-spacing: 1px;
  padding:20px;
  border-radius: 20px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
}

form {
  flex: 1 1 340px;
  min-width: 300px;
  max-width: 540px;
}

section {
  flex: 1 1 320px;
  min-width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-icon {
  color: var(--color-primary-light);
  margin-bottom: 10px;
}

.my-info{
  color: var(--color-bg-dark);
}

#verzenden {
  background-color: var(--color-primary-light);
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  color: var(--color-white);
}

#verzenden:hover {
    background-color: var(--color-primary-dark);
}

textarea {
  resize: none;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom:20px;
}

@media (max-width: 768px) {
  .box {
    flex-direction: column;
    gap: 20px;
  }

  form,
  section {
    max-width: 100%;
  }

  .cont {
    padding: 16px;
  }

  ul {
    padding-left: 20px;
  }
}
