body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  min-height: 100vh;
}

a{
      text-decoration: none;
      color: black

}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  text-decoration: none;
}

.footer > * {
  flex: 1 100%;
}

.footer-addr {
  margin-left: 10em;
  margin-right: 1.25em;
  margin-bottom: 2em;
  margin-top: 2em;
}


.footer-logo {
  font-size: 2.2rem;
  font-weight: 700;
}


.footer-addr h2 {
  margin-top: 1.3em;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-item h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.2rem;
  font-weight: 700;
}


.nav-title {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.footer address {
  margin-top: 1em;
  font-style: normal;
  color: #999;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background: rgba(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  
}

.footer li a {
  line-height: 2em;
  font-style: normal;
  color: #999;
}

.footer-nav {
  display: flex;
  flex-flow: row wrap;
}

.footer-nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav-ul-extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  margin-top: -3em;
  display: flex;
  flex-wrap: wrap;
  color: #999;
  display: flex;
  align-items: center;
  margin-left: 33em;

}

.footer-img {
  max-width: 23em;
  max-height: 11em;
}

@media screen and (min-width: 24.375em) {
  .legal .legal-links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer-nav > * {
    flex: 1;
  }

  .nav-item-extra {
    flex-grow: 2;
  }

  .footer-addr {
    flex: 1 0px;
  }

  .footer-nav {
    flex: 2 0px;
  }
}