/* kleuren */
:root {
    --color-primary: #B5925C;
    --color-primary-dark: #8A6C43;
    --color-primary-light: #D2B285;
    --color-accent: #F9F58B;
    --color-accent-dark: #E9E46A;
    --color-bg: #B5925C;
    --color-bg-alt: #EAE0CC;
    --color-bg-dark: #3B342D;
    --color-white: #FFFFFF;
    --color-black: #1A1611;
    --color-grey: #777166;
    --color-grey-light: #ADA79D;
    --color-grey-lighter: #E5E2DC;
    --color-border: #C8AC7D;
    --color-border-alt: #D9CEBC;
    --color-border-dark: #826B44;
    --color-shadow: rgba(83, 66, 49, 0.1);
    --color-shadow-dark: rgba(83, 66, 49, 0.15);
    --color-shadow-accent: rgba(249, 245, 139, 0.25);
    --color-shadow-accent-light: rgba(249, 245, 139, 0.15);
    --color-footer-bg: rgba(59, 52, 45, 0.12);
    --navfoot: rgb(37, 37, 37);
}

html {
    background-color: var(--navfoot);
}


/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}