body {
    overflow-x: hidden;
}

.hero-container {
    width: 100%;
    height: 350px;
    background-color: var(--color-bg-alt);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cf.bstatic.com/xdata/images/hotel/max1024x768/619990272.jpg?k=0cdca0c64117ed139eaeb5198076a2aa715ec9e6ab121fd687d438d93d832399&o=&hp=1");
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}
 

.hero-content-wrapper {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.hero-content-wrapper h1 {
    font-size: 3.2rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px var(--color-bg-dark);
}

.hero-content-wrapper p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-shadow: 1px 1px 2px var(--color-bg-dark);
    max-width: 600px;
}

.rooms-list {
    width: 100%;
    padding: 80px 40px;
    background:#e2bc7e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rooms-container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.room-card {
    overflow: hidden;
    background: var(--color-bg-alt);
    color: var(--color-grey);
    border-radius: 15px;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s all;
    text-decoration: none;
    box-shadow: 4px 4px var(--color-shadow-dark);

}

.room-card:hover {
    transform: translateY(-3px);
    box-shadow: 15px 15px var(--color-shadow);

}
.room-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.room-info {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.room-card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-grey);
    margin-bottom: 10px;
}

.room-info p {
    font-size: 0.95rem;
    color: var(--color-grey-light);
    margin-bottom: 15px;
    line-height: 1.5;
}

.room-price {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-white);
    background: var(--color-primary);
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.3s;
}


@media (max-width: 768px) {
    .hero-container {
        height: auto;
        margin-top: 80px;
    }

    .hero-content-wrapper h1 {
        font-size: 2.5rem;
    }

    .hero-content-wrapper p {
        font-size: 1rem;
    }

    .rooms-list {
        margin: 0 auto;
        padding: 0 0;
    }

    .rooms-container {
        width: 80%;
        display: block;
    }

    .room-card {
        width: 100%;
        margin: 20px 0 20px 0;
    }

    .room-info {
        padding: 15px;
    }

    .room-price {
        padding: 8px 15px;
        font-size: 1rem;
    }
}