    .box {
      display: flex;
    }

    .box3 {
      margin-bottom: 100px;
    }

    .cont {

      margin: 2px;
      padding: 10px;
      border-radius: 5%;
      background-color: azure;
      margin-bottom: 20px;
    }

    .bottom {
      display: flex;
      align-items: center;
    }

    a:hover {
      background-color: purple;
      width: 50px;
    }

  .mySlides {
      border-radius: 10%;
    }

    .mySlides {
      display: none;
    }
