    .box {
      display: flex;
    }

    .box3 {
      margin-bottom: 50px;
    }

    .cont {

      margin: 2px;
      padding: 10px;
      border-radius: 5%;
      background-color: azure
    }

    .bottom {
      display: flex;
      align-items: center;
    }

    a:hover {
      background-color: purple;
    }

    img {
      border-radius: 10%;
    }

    .mySlides {
      display: none;
    }
