html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

aside {
    height: 100vh;
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
}


nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 8px 12px;
    display: block;
    transition: all 0.5s;
    border-bottom: 1px solid #eaeaea;
}

nav ul li a:hover {
    background-color: #ddd;
}

nav ul li a i {
    color: var(--color-primary-light);
}

.home-button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s;
}

.home-button:hover {
    color: var(--color-primary-light);
}