body {
  display: flex;
}

aside {
  height: 100vh;
  width: 200px;
  background-color: var(--color-bg);
  padding: 15px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

aside a {
  text-decoration: none;
  color: var(--color-black);
  padding: 8px 12px;
  display: block;
  transition: all 0.5s;
  border-bottom: 1px solid var(--color-border);
  border-radius: 5px;
}

aside a:hover {
  background-color: var(--color-bg-alt);
}

aside a i {
  color: var(--color-primary-light);
}

.logout {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 8px 12px;
  border-bottom: 1px solid var(--color-border);
  transition: all 0.5s;
  border-radius: 5px;
}

.logout:hover {
  background-color: var(--color-bg-alt);
}

.logout button {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  text-align: left;
}

aside form button i {
  color: var(--color-primary-light);
}

article {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--color-bg);
  padding: 1rem;
  border-radius: 8px;
  margin-top: 0.5rem;
}

.show {
  display: flex;
}

.dropdown-content button {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-content button:hover {
  background-color: var(--color-bg-dark);
}

.dropdown-content input {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border-dark);
  transition: border-color 0.3s;
}

.dropdown-content input:focus {
  border-color: var(--color-primary);
  outline: none;
}

.reservering {
  border: 5px solid var(--color-border);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: var(--color-bg-alt);
}

.reservering h2 {
  font-weight: 600;
  font-size: 120%;
}

.titel {
  font-weight: 600;
  font-size: 150%;
  margin-bottom: 10px;
  color: var(--color-bg-alt);
}

.info {
  margin: 5px 0;
  color: var(--color-bg-alt);
}

strong {
  color: var(--color-border-dark);
  font-weight: 600;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  aside {
    height: auto;
    width: 100%;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid var(--color-border);
  }
}
