.hero-container {
    width: 100%;
    height: 700px;
    background-image: url("https://lipsum.app/random/1920x1080");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid var(--color-border);

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content-wrapper {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.hero-content-wrapper h1 {
    font-size: 50px;
}

.hero-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-button-container a {
    padding: 20px 30px;
    background-color: var(--color-primary);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.hero-button-container a:hover {
    background-color: var(--color-primary-dark);
}

#h-btn-2 {
    background-color: rgba(255, 255, 255, 0.315); /* transparant wit, geen var */
}


.about-section {
    border-top: 1px solid var(--color-border);

    width: 100%;
    padding: 80px 0;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section2 {
    border-top: 1px solid var(--color-border);
    width: 100%;
    padding: 80px 0;
    background-color: rgba(255, 255, 255, 0.153); /* transparant wit, geen var */
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-content-wrapper {
    width: 80%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.about-content-wrapper h2 {
    font-size: 42px;
    color: var(--color-grey);
    margin-bottom: 10px;
}

.about-section2 h2 {
    font-size: 42px;
    color: black;
    margin-bottom: 10px;
}

.about-section2 li {
    color: black;
    margin-bottom: 10px;
}

.about-content-wrapper p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-grey-light);
    max-width: 700px;
}

.about-button {
    padding: 18px 35px;
    background-color: var(--color-primary);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s;
    margin-top: 10px;
}

.about-button:hover {
    background-color: var(--color-primary-dark);
    transform: translateY(-2px);
}
